{{ $query := slice "version" "2" "body" . "withVet" "true" }}
{{ $opts := dict
  "method" "post"
  "headers" (dict "Content-Type" "application/x-www-form-urlencoded")
  "body" (querify $query)
}}
{{ $postResponse := resources.GetRemote "https://go.dev/_/compile" $opts }}
{{ $content := $postResponse.Content | transform.Unmarshal }}
{{ $output := "" }}
{{ range $content.Events }}
    {{ $output = printf "%s%s" $output .Message }}
{{ end }}
{{ return (dict "output" $output "err" $content.Errors) }}
