{{ $query := slice "body" . "imports" "true" }}
{{ $opts := dict
  "method" "post"
  "headers" (dict "Content-Type" "application/x-www-form-urlencoded")
  "body" (querify $query)
}}
{{ $postResponse := resources.GetRemote "https://go.dev/_/fmt" $opts }}
{{ $content := $postResponse.Content | transform.Unmarshal }}
{{ $output := $content.Body }}
{{ if $content.Error }}
  {{/* If fmt returns an error the output is empty */}}
  {{/* Since we compile this code later, we want to always return something */}}
  {{ $output = . }}
{{ end }}
{{ return $output }}
