{{ $query := slice "body" . }}
{{ if hasPrefix . "package" }}
    {{ $query = $query | append (slice "imports" "true") }}
{{ end }}
{{ $opts := dict
  "method" "post"
  "headers" (dict "Content-Type" "application/x-www-form-urlencoded")
  "body" (querify $query)
}}
{{ $postResponse := resources.GetRemote "https://go.dev/_/fmt" $opts }}
{{ $content := $postResponse.Content | transform.Unmarshal }}
{{ $output := $content.Body }}
{{ if $content.Error }}
  {{/* If fmt returns an error the output is empty */}}
  {{/* Inserting wrong code is better than no code */}}
  {{ $output = . }}
{{ end }}
{{ return (dict "output" $output "err" $content.Error) }}
