{{ $split := split .Inner "<!--output-->" }}
{{ $code := index $split 0 }}
{{ $code = trim $code "\n" }}
{{ $expectedOutput := "" }}
{{ if eq (len $split) 2 }}
    {{ $expectedOutput = index $split 1 }}
    {{ $expectedOutput = strings.TrimPrefix "\n" $expectedOutput }}
    {{/* It seems the last newline is stripped when using code render blocks */}}
    {{ $expectedOutput = add $expectedOutput "\n" }}
{{ end }}

{{ $playgroundEnabled := .Attributes.playground | default (hasPrefix $code "package main") }}
{{ $fmtEnabled := .Attributes.fmt | default true }}
{{ $lineNosEnabled := index .Options "lineNos" | default (hasPrefix $code "package") }}
{{ $hlLines := .Options.hl_lines }}

{{ $compareOutputEnabled := .Attributes.compareoutput | default true }}
{{ $displayOutputEnabled := .Attributes.displayoutput | default true }}

{{ if $fmtEnabled }}
    {{ $fmtQuery := slice "body" $code }}
    {{ if hasPrefix $code "package" }}
        {{ $fmtQuery = $fmtQuery | append (slice "imports" "true") }}
    {{ end }}
    {{ $fmtOpts := dict
      "method" "post"
      "headers" (dict "Content-Type" "application/x-www-form-urlencoded")
      "body" (querify $fmtQuery)
    }}
    {{ $fmtResponse := resources.GetRemote "https://go.dev/_/fmt" $fmtOpts }}
    {{ $fmtContent := $fmtResponse.Content | transform.Unmarshal }}

    {{ if $fmtContent.Error }}
        {{ warnf "Golang format error occurred in %v:%v:\n%v" .Page.File.Path .Position.LineNumber $fmtContent.Error }}
        {{/* If there is an error, we do not compile the code */}}
        {{ $playgroundEnabled = false }}
    {{ else }}
        {{ $code = $fmtContent.Body }}
    {{ end }}
{{ end }}

{{ $shareContent := "" }}
{{ if $playgroundEnabled }}
    {{ .Page.Store.Set "hasGoPlayground" true }}

    {{ $shareOpts := dict
      "method" "post"
      "body" $code
    }}
    {{ $shareResponse := resources.GetRemote "https://go.dev/_/share" $shareOpts }}
    {{ $shareContent = $shareResponse.Content }}

    {{/* We call compile, even if we do not need the output,
         because it also throws an error if the Go syntax is incorrect. */}}

    {{ $compileQuery := slice "version" "2" "body" $code "withVet" "true" }}
    {{ $compileOpts := dict
      "method" "post"
      "headers" (dict "Content-Type" "application/x-www-form-urlencoded")
      "body" (querify $compileQuery)
    }}
    {{ $compileResponse := resources.GetRemote "https://go.dev/_/compile" $compileOpts }}
    {{ $compileContent := $compileResponse.Content | transform.Unmarshal }}
    {{ $compileOutput := "" }}
    {{ range $compileContent.Events }}
        {{ $compileOutput = printf "%s%s" $compileOutput .Message }}
    {{ end }}
    {{ if $compileContent.Errors }}
        {{ warnf "Golang error occurred in %v:%v:\n%v" .Page.File.Path .Position.LineNumber $compileContent.Errors }}
    {{ else }}
        {{ if and $compareOutputEnabled (ne $compileOutput $expectedOutput) }}
          {{ if $expectedOutput }}
            {{ warnf "Wrong output received from Go Playground in %v:%v:\ngot:\n%vwant:\n%v" .Page.File.Path .Position.LineNumber $compileOutput $expectedOutput }}
          {{ else }}
            {{ warnf "Received unexpected output from Go Playground. Add an `<!--output-->` block in %v:%v:\ngot:\n%v" .Page.File.Path .Position.LineNumber $compileOutput }}
          {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{/* We split the options into separate shortcode params,
     because the highlight function silently fails if unknown
     options are passed. */}}
{{ $options := slice }}
{{ with $hlLines }}
    {{ $options = $options | append (printf "hl_lines=%v" .) }}
{{ end }}
{{ with $lineNosEnabled }}
    {{ $options = $options | append (printf "lineNos=%v" .) }}
{{ end }}

<div {{ if $playgroundEnabled }}class="go-playground" data-playground="{{ $shareContent }}"{{ end }}>

{{/* We add something to each empty line and remove it after highlighting */}}
{{/* https://github.com/gohugoio/hugo/issues/7848 */}}
{{ $code = replace $code "\n\n" "\n__NL__\n" }}
{{ $highlighted := transform.Highlight $code "go" (delimit $options ",") }}
{{- replace $highlighted "__NL__" "" | safeHTML -}}

{{ if and $displayOutputEnabled $expectedOutput }}
<pre class="output">
<span>Output:</span>
{{ trim $expectedOutput "\n" }}
</pre>
{{ end }}

</div>
