/* copy button */
.highlight {
    position: relative;
}
.highlight pre {
    padding-right: 75px;
}
.highlight-run-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: $white;
    background-color: $gray-600;
    min-width: 55px;
    text-align: center;
}
.highlight-run-btn:hover {
    background-color: $gray-700;
}

a.godoc {
    padding-right: 1.1em;
    background: transparent url(/go-favicon.png) no-repeat top right/1em;
}
.output {
    margin-top: -2rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 1px solid rgba(0,0,0,0.125);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    border-right: 1px solid rgba(0,0,0,0.125);
}
.output span {
    color: #7f7f7f;
}
