{{ $split := split .Inner "<!--output-->" }}
{{ $code := index $split 0 }}
{{ $code = trim $code "\n" }}
{{ $output := "" }}
{{ if eq (len $split) 2 }}
    {{ $output = index $split 1 }}
    {{ $output = strings.TrimPrefix "\n" $output }}
{{ end }}

{{ $withoutBoilerplate := false }}
{{ if not (hasPrefix $code "package main") }}
    {{ $code = printf "package main\nimport \"fmt\"\nfunc main() {\n%v\n}" $code }}
    {{ $withoutBoilerplate = true }}
{{ end }}

{{ $code := partial "go-playground/fmt.html" $code }}
{{ $share := partial "go-playground/share.html" $code }}

{{ $compiledOutput := "" }}
{{ if $output }}
{{ $compiledOutput = partial "go-playground/compile.html" (dict "this" . "code" $code) }}
{{ end }}

{{ if and $output (ne $compiledOutput $output) }}
    {{ warnf "Wrong output received from Go Playground in %v:%v:\ngot:\n%vwant:\n%v" .Page.File.Path .Position.LineNumber $compiledOutput $output }}
{{ end }}

{{ if $withoutBoilerplate }}
    {{/* After formatting, we want to remove the boilerplate again */}}
    {{ $code = strings.TrimPrefix "package main\n\nimport \"fmt\"\n\nfunc main() {\n" $code }}
    {{ $code = strings.TrimSuffix "}\n" $code }}

    {{/* Trim first tab from every line */}}
    {{ $code = split $code "\n" }}
    {{ $code = apply $code "strings.TrimPrefix" "\t" "." }}
    {{ $code = delimit $code "\n" }}
{{ end }}

<div data-playground="{{ $share }}">
{{- transform.Highlight $code "go" -}}
{{ if $output }}
Output:
<pre class="output">
{{ $output }}
</pre>
{{ end }}
</div>
