<!-- perl -pi -e 'chomp if eof' layouts/shortcodes/task.html -->
{{- .Page.Scratch.Add "task" 1 -}}
{{- if site.Params.automaticSectionNumbers -}}
{{- $sectionnumbers := partialCached "sectionnumber.html" .Page -}}
Task {{ $sectionnumbers.Get .Page.File.Path }}.{{ .Page.Scratch.Get "task" }}:
{{- else -}}
{{- with .Page.Params.sectionnumber -}}
Task {{ . }}.{{ $.Page.Scratch.Get "task" }}:
{{- else -}}
{{- errorf "Either automaticSectionNumbers or sectionnumber must be set in %q" .Page.Path -}}
{{- end -}}
{{- end -}}
