{{ $jsCodeCopy := resources.Get "js/code-copy.js" }}
{{ $jsModeSwitcher := resources.Get "js/mode-switcher.js" }}
{{ $jsModeSwitcher = $jsModeSwitcher | resources.ExecuteAsTemplate "mode-switcher.js" . }}
{{ $jsLibs := slice $jsCodeCopy $jsModeSwitcher }}

{{ if .Site.Params.ReplaceContent.Placeholders }}
  {{ $jsReplaceContent := resources.Get "js/replace-content.js" }}
  {{ $jsReplaceContent = $jsReplaceContent | resources.ExecuteAsTemplate "replace-content.js" . }}
  {{ $jsLibs = $jsLibs | append $jsReplaceContent }}
{{ end }}

{{ if .Page.Store.Get "hasGoPlayground" }}
  {{ $jsCodeRun := resources.Get "js/code-run.js" }}
  <!-- This needs to be a separate script, because HasShortcode is per page and not global -->
  <script src="{{ $jsCodeRun.RelPermalink }}"></script>
{{ end }}

{{ $jsSite := $jsLibs | resources.Concat "js/site.js" }}

{{ if .Site.IsServer }}
  {{ $jsSite := $jsSite | fingerprint }}
  <script src="{{ $jsSite.RelPermalink }}"></script>
{{ else }}
  {{ $jsSite := $jsSite | minify | fingerprint }}
  <script src="{{ $jsSite.RelPermalink }}" integrity="{{ $jsSite.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}
