{{ $jsCodeCopy := resources.Get "js/code-copy.js" }}
{{ $jsModeSwitcher := resources.Get "js/mode-switcher.js" }}
{{ $jsModeSwitcher = $jsModeSwitcher | resources.ExecuteAsTemplate "mode-switcher.js" . }}
{{ $jsLibs := slice $jsCodeCopy $jsModeSwitcher }}

{{ if .Site.Params.ReplaceContent.Placeholders }}
  {{ $jsReplaceContent := resources.Get "js/replace-content.js" }}
  {{ $jsReplaceContent = $jsReplaceContent | resources.ExecuteAsTemplate "replace-content.js" . }}
  {{ $jsLibs = $jsLibs | append $jsReplaceContent }}
{{ end }}

{{ if .HasShortcode "go-playground" }}
  {{ $jsCodeRun := resources.Get "js/code-run.js" }}
  <!-- This needs to be a separate script, because HasShortcode is per page and not global -->
<style>
.highlight-run-btn {
    position: absolute;
    bottom: 7px;
    right: 70px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: white;
    background-color: #777;
    min-width: 55px;
    text-align: center;
}
.highlight-run-btn:hover {
    background-color: #666;
}
</style>
  <script src="{{ $jsCodeRun.RelPermalink }}"></script>
{{ end }}

{{ $jsSite := $jsLibs | resources.Concat "js/site.js" }}

{{ if .Site.IsServer }}
  {{ $jsSite := $jsSite | fingerprint }}
  <script src="{{ $jsSite.RelPermalink }}"></script>
{{ else }}
  {{ $jsSite := $jsSite | minify | fingerprint }}
  <script src="{{ $jsSite.RelPermalink }}" integrity="{{ $jsSite.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}
