{{ $options := dict "enableSourceMap" .Site.IsServer }}

{{ $siteCSS := resources.Get "scss/site.scss" | toCSS $options }}
{{ $playgroundCSS := resources.Get "scss/go-playground.scss" | toCSS $options }}

<style>
a.godoc {
    padding-right: 1.1em;
    background: transparent url(/go-favicon.png) no-repeat top right/1em;
}
.output {
    margin-top: -2rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 1px solid rgba(0,0,0,0.125);
    border-bottom: 1px solid rgba(0,0,0,0.125);
    border-right: 1px solid rgba(0,0,0,0.125);
}
.output span {
    color: #7f7f7f;
}
</style>

{{ $css := slice $siteCSS $playgroundCSS | resources.Concat "bundle.css" }}
{{ if not .Site.IsServer }}
    {{ $css = $css | postCSS | minify }}
{{ end }}
{{ $css = $css | fingerprint }}

<link href="{{ $css.RelPermalink }}" rel="stylesheet" integrity="{{ $css.Data.integrity }}">
